module.exports = {
  apps : [{
    name: 'ws-multisocket',
    script: 'server.js',
    watch: true,
    env: {
      HOST : '0.0.0.0',
      PORT: 443,
      SSLKEY : 'cert/privkey.pem',
      SSLCERT  : 'cert/fullchain.pem',
      DEBUG : true
    }
  }]
};
